{
	"NOP": [],
	"AJMP": [["addr1B"]],
	"RR": [["A"]],
	"INC": [["A"], ["addr1B"], ["@Ri"], ["Rn"], ["DPTR"]],
	"JBC": [["addr1B", "addr1B"]],
	"ACALL": [["addr1B"]],
	"LCALL": [["addr2B"]],
	"RRC": [["A"]],
	"DEC": [["A"], ["@Ri"], ["Rn"]],
	"JB": [["addr1B", "addr1B"]],
	"RET": [],
	"RL": [["A"]],
	"ADD": [["A", "imm1B"], ["A", "addr1B"], ["A", "@Ri"], ["A", "Rn"]],
	"JNB": [["addr1B", "addr1B"]],
	"RETI": [],
	"RLC": [["A"]],
	"ADDC": [["A", "imm1B"], ["A", "addr1B"], ["A", "@Ri"], ["A", "Rn"]],
	"JC": [["addr1B"]],
	"ORL": [["addr1B", "A"], ["addr1B", "imm1B"], ["A", "imm1B"], ["A", "addr1B"], ["A", "@Ri"], ["A", "Rn"], ["C", "addr1B"]],
	"JNC": [["addr1B"]],
	"ANL": [["addr1B", "A"], ["addr1B", "imm1B"], ["A", "imm1B"], ["A", "addr1B"], ["A", "@Ri"], ["A", "Rn"], ["C", "addr1B"]],
	"JZ": [["addr1B"]],
	"XRL": [["addr1B", "A"], ["addr1B", "imm1B"], ["A", "imm1B"], ["A", "addr1B"], ["A", "@Ri"], ["A", "Rn"]],
	"JNZ": [["addr1B"]],
	"JMP": [["@A+DPTR"]],
	"MOV": [["A", "imm1B"], ["addr1B", "imm1B"], ["@Ri", "imm1B"], ["Rn", "imm1B"], ["addr1B", "addr1B"],["addr1B", "@Ri"], ["addr1B", "Rn"], ["DPTR", "imm2B"], ["addr1B", "C"], ["C", "addr1B"], ["@Ri", "addr1B"], ["Rn", "addr1B"], ["A", "addr1B"], ["A", "@Ri"], ["A", "Rn"], ["addr1B", "A"], ["@Ri", "A"], ["Rn", "A"]],
	"SJMP": [["addr1B"]],
	"MOVC": [["A", "@A+DPTR"], ["A", "@A+PC"]],
	"DIV": [["AB"]],
	"SUBB": [["A", "imm1B"], ["A", "addr1B"], ["A", "@Ri"], ["A", "Rn"]],
	"MUL": [["AB"]],
	"CPL": [["addr1b"], ["c"]],
	"CJNE": [["A", "imm1B", "addr1B"], ["A", "addr1B", "addr1B"], ["@Ri", "imm1B", "addr1B"], ["Rn", "imm1B", "addr1B"]],
	"PUSH": [["addr1B"]],
	"CLR": [["addr1b"], ["c"]],
	"SWAP": [["A"]],
	"XCH": [["A", "addr1B"], ["A", "@Ri"], ["A", "Rn"]],
	"POP": [["addr1B"]],
	"SETB": [["addr1b"], ["c"]],
	"DA": [["A"]],
	"DJNZ": [["addr1B", "addr1B"], ["Rn", "addr1B"]],
	"XCHD": [["A", "@Ri"]],
	"MOVX": [["A", "@DPTR"], ["A", "@Ri"], ["@DPTR", "A"], ["@Ri", "A"]],
	"CLR": [["A"]],
	"CPL": [["A"]],
}
